
DCbase.dcd
PERFILES_WEB/WEBLIST.xlsx
PERFILES_WEB/PERFILES2/PER3_9x9E.dat
PERFILES_WEB/PERFILES2/PER3_9x9.dat
PERFILES_WEB/PERFILES2/PER3_9x85.dat
PERFILES_WEB/PERFILES2/PER3_9x8.dat
PERFILES_WEB/PERFILES2/PER3_9x75SF.dat
PERFILES_WEB/PERFILES2/PER3_9x75E.dat
PERFILES_WEB/PERFILES2/PER3_9x75C.dat
PERFILES_WEB/PERFILES2/PER3_9x75.dat
PERFILES_WEB/PERFILES2/PER3_9x7.dat
PERFILES_WEB/PERFILES2/PER3_9x6SF.dat
PERFILES_WEB/PERFILES2/PER3_9x6N.dat
PERFILES_WEB/PERFILES2/PER3_9x6E.dat
PERFILES_WEB/PERFILES2/PER3_9x65.dat
PERFILES_WEB/PERFILES2/PER3_9x6.dat
PERFILES_WEB/PERFILES2/PER3_9x6-4.dat
PERFILES_WEB/PERFILES2/PER3_9x6-3.dat
PERFILES_WEB/PERFILES2/PER3_9x5F.dat
PERFILES_WEB/PERFILES2/PER3_9x5.dat
PERFILES_WEB/PERFILES2/PER3_9x47SF.dat
PERFILES_WEB/PERFILES2/PER3_9x46SF.dat
PERFILES_WEB/PERFILES2/PER3_9x45R-RH.dat
PERFILES_WEB/PERFILES2/PER3_9x45MR.dat
PERFILES_WEB/PERFILES2/PER3_9x45E.dat
PERFILES_WEB/PERFILES2/PER3_9x4.dat
PERFILES_WEB/PERFILES2/PER3_9x3N.dat
PERFILES_WEB/PERFILES2/PER3_9x38SF.dat
PERFILES_WEB/PERFILES2/PER3_9x37SF.dat
PERFILES_WEB/PERFILES2/PER3_9x3.dat
PERFILES_WEB/PERFILES2/PER3_9x10.dat
PERFILES_WEB/PERFILES2/PER3_9625x375N.dat
PERFILES_WEB/PERFILES2/PER3_95x8N.dat
PERFILES_WEB/PERFILES2/PER3_95x85N.dat
PERFILES_WEB/PERFILES2/PER3_95x7N.dat
PERFILES_WEB/PERFILES2/PER3_95x75N.dat
PERFILES_WEB/PERFILES2/PER3_95x65N.dat
PERFILES_WEB/PERFILES2/PER3_95x6.dat
PERFILES_WEB/PERFILES2/PER3_95x5MR.dat
PERFILES_WEB/PERFILES2/PER3_95x45.dat
PERFILES_WEB/PERFILES2/PER3_93x3.dat
PERFILES_WEB/PERFILES2/PER3_925x60.dat
PERFILES_WEB/PERFILES2/PER3_925x575.dat
PERFILES_WEB/PERFILES2/PER3_925x55.dat
PERFILES_WEB/PERFILES2/PER3_925x525.dat
PERFILES_WEB/PERFILES2/PER3_925x50.dat
PERFILES_WEB/PERFILES2/PER3_8x9.dat
PERFILES_WEB/PERFILES2/PER3_8x8E.dat
PERFILES_WEB/PERFILES2/PER3_8x8.dat
PERFILES_WEB/PERFILES2/PER3_8x73.dat
PERFILES_WEB/PERFILES2/PER3_8x7.dat
PERFILES_WEB/PERFILES2/PER3_8x6SF.dat
PERFILES_WEB/PERFILES2/PER3_8x6E.dat
PERFILES_WEB/PERFILES2/PER3_8x6.dat
PERFILES_WEB/PERFILES2/PER3_8x5.dat
PERFILES_WEB/PERFILES2/PER3_8x4F.dat
PERFILES_WEB/PERFILES2/PER3_8x4E.dat
PERFILES_WEB/PERFILES2/PER3_8x47SF.dat
PERFILES_WEB/PERFILES2/PER3_8x45MR.dat
PERFILES_WEB/PERFILES2/PER3_8x41SF.dat
PERFILES_WEB/PERFILES2/PER3_8x4.dat
PERFILES_WEB/PERFILES2/PER3_8x38SF.dat
PERFILES_WEB/PERFILES2/PER3_8x375W.dat
PERFILES_WEB/PERFILES2/PER3_8x375.dat
PERFILES_WEB/PERFILES2/PER3_8x10.dat
PERFILES_WEB/PERFILES2/PER3_88x975.dat
PERFILES_WEB/PERFILES2/PER3_88x95.dat
PERFILES_WEB/PERFILES2/PER3_88x925.dat
PERFILES_WEB/PERFILES2/PER3_88x90.dat
PERFILES_WEB/PERFILES2/PER3_88x89.dat
PERFILES_WEB/PERFILES2/PER3_88x875.dat
PERFILES_WEB/PERFILES2/PER3_88x85.dat
PERFILES_WEB/PERFILES2/PER3_875x95NN.dat
PERFILES_WEB/PERFILES2/PER3_875x925W.dat
PERFILES_WEB/PERFILES2/PER3_875x925NN.dat
PERFILES_WEB/PERFILES2/PER3_875x90W.dat
PERFILES_WEB/PERFILES2/PER3_875x90NN.dat
PERFILES_WEB/PERFILES2/PER3_875x875W.dat
PERFILES_WEB/PERFILES2/PER3_875x875NN.dat
PERFILES_WEB/PERFILES2/PER3_875x85W.dat
PERFILES_WEB/PERFILES2/PER3_875x85NN.dat
PERFILES_WEB/PERFILES2/PER3_875x85N.dat
PERFILES_WEB/PERFILES2/PER3_875x825W.dat
PERFILES_WEB/PERFILES2/PER3_875x825NN.dat
PERFILES_WEB/PERFILES2/PER3_875x825N.dat
PERFILES_WEB/PERFILES2/PER3_875x80W.dat
PERFILES_WEB/PERFILES2/PER3_875x80NN.dat
PERFILES_WEB/PERFILES2/PER3_875x80N.dat
PERFILES_WEB/PERFILES2/PER3_875x775W.dat
PERFILES_WEB/PERFILES2/PER3_875x775NN.dat
PERFILES_WEB/PERFILES2/PER3_875x775N.dat
PERFILES_WEB/PERFILES2/PER3_875x75W.dat
PERFILES_WEB/PERFILES2/PER3_875x75NN.dat
PERFILES_WEB/PERFILES2/PER3_875x75N.dat
PERFILES_WEB/PERFILES2/PER3_875x70NN.dat
PERFILES_WEB/PERFILES2/PER3_875x70N.dat
PERFILES_WEB/PERFILES2/PER3_875x50.dat
PERFILES_WEB/PERFILES2/PER3_8625x375.dat
PERFILES_WEB/PERFILES2/PER3_85x75.dat
PERFILES_WEB/PERFILES2/PER3_85x725.dat
PERFILES_WEB/PERFILES2/PER3_85x70.dat
PERFILES_WEB/PERFILES2/PER3_85x55.dat
PERFILES_WEB/PERFILES2/PER3_7x9.dat
PERFILES_WEB/PERFILES2/PER3_7x8.dat
PERFILES_WEB/PERFILES2/PER3_7x7E.dat
PERFILES_WEB/PERFILES2/PER3_7x7.dat
PERFILES_WEB/PERFILES2/PER3_7x6W.dat
PERFILES_WEB/PERFILES2/PER3_7x6SF.dat
PERFILES_WEB/PERFILES2/PER3_7x6F.dat
PERFILES_WEB/PERFILES2/PER3_7x6E.dat
PERFILES_WEB/PERFILES2/PER3_7x65D.dat
PERFILES_WEB/PERFILES2/PER3_7x6.dat
PERFILES_WEB/PERFILES2/PER3_7x5SF.dat
PERFILES_WEB/PERFILES2/PER3_7x5E.dat
PERFILES_WEB/PERFILES2/PER3_7x5.dat
PERFILES_WEB/PERFILES2/PER3_7x4SF.dat
PERFILES_WEB/PERFILES2/PER3_7x4F.dat
PERFILES_WEB/PERFILES2/PER3_7x4E.dat
PERFILES_WEB/PERFILES2/PER3_7x4.dat
PERFILES_WEB/PERFILES2/PER3_7x38WSF.dat
PERFILES_WEB/PERFILES2/PER3_7x3.dat
PERFILES_WEB/PERFILES2/PER3_7x10.dat
PERFILES_WEB/PERFILES2/PER3_78x7C.dat
PERFILES_WEB/PERFILES2/PER3_78x7.dat
PERFILES_WEB/PERFILES2/PER3_78x6C.dat
PERFILES_WEB/PERFILES2/PER3_78x6.dat
PERFILES_WEB/PERFILES2/PER3_78x4C.dat
PERFILES_WEB/PERFILES2/PER3_78x4.dat
PERFILES_WEB/PERFILES2/PER3_75x25.dat
PERFILES_WEB/PERFILES2/PER3_74x78C.dat
PERFILES_WEB/PERFILES2/PER3_74x77C.dat
PERFILES_WEB/PERFILES2/PER3_74x76C.dat
PERFILES_WEB/PERFILES2/PER3_74x75C.dat
PERFILES_WEB/PERFILES2/PER3_6x6E.dat
PERFILES_WEB/PERFILES2/PER3_6x55E.dat
PERFILES_WEB/PERFILES2/PER3_6x5.dat
PERFILES_WEB/PERFILES2/PER3_6x4E.dat
PERFILES_WEB/PERFILES2/PER3_6x45E.dat
PERFILES_WEB/PERFILES2/PER3_6x43E.dat
PERFILES_WEB/PERFILES2/PER3_6x4.dat
PERFILES_WEB/PERFILES2/PER3_6x3F.dat
PERFILES_WEB/PERFILES2/PER3_6x3.dat
PERFILES_WEB/PERFILES2/PER3_6x2.dat
PERFILES_WEB/PERFILES2/PER3_65x65.dat
PERFILES_WEB/PERFILES2/PER3_65x60.dat
PERFILES_WEB/PERFILES2/PER3_65x55.dat
PERFILES_WEB/PERFILES2/PER3_65x50.dat
PERFILES_WEB/PERFILES2/PER3_65x37.dat
PERFILES_WEB/PERFILES2/PER3_65x29.dat
PERFILES_WEB/PERFILES2/PER3_63x4.dat
PERFILES_WEB/PERFILES2/PER3_5x5F.dat
PERFILES_WEB/PERFILES2/PER3_5x5E.dat
PERFILES_WEB/PERFILES2/PER3_5x4E-4.dat
PERFILES_WEB/PERFILES2/PER3_5x4E-3.dat
PERFILES_WEB/PERFILES2/PER3_5x46E.dat
PERFILES_WEB/PERFILES2/PER3_5x45E.dat
PERFILES_WEB/PERFILES2/PER3_5x43E.dat
PERFILES_WEB/PERFILES2/PER3_5x3E.dat
PERFILES_WEB/PERFILES2/PER3_5x3.dat
PERFILES_WEB/PERFILES2/PER3_57x3.dat
PERFILES_WEB/PERFILES2/PER3_55x65E.dat
PERFILES_WEB/PERFILES2/PER3_55x47E.dat
PERFILES_WEB/PERFILES2/PER3_55x45E.dat
PERFILES_WEB/PERFILES2/PER3_55x25.dat
PERFILES_WEB/PERFILES2/PER3_55x2.dat
PERFILES_WEB/PERFILES2/PER3_52x60E.dat
PERFILES_WEB/PERFILES2/PER3_525x625E.dat
PERFILES_WEB/PERFILES2/PER3_525x55E.dat
PERFILES_WEB/PERFILES2/PER3_525x475E.dat
PERFILES_WEB/PERFILES2/PER3_51x50E.dat
PERFILES_WEB/PERFILES2/PER3_51x50E-3.dat
PERFILES_WEB/PERFILES2/PER3_51x45E.dat
PERFILES_WEB/PERFILES2/PER3_4x4E-3.dat
PERFILES_WEB/PERFILES2/PER3_4x45E.dat
PERFILES_WEB/PERFILES2/PER3_4x33E.dat
PERFILES_WEB/PERFILES2/PER3_47x42E.dat
PERFILES_WEB/PERFILES2/PER3_475x55E.dat
PERFILES_WEB/PERFILES2/PER3_475x475EC.dat
PERFILES_WEB/PERFILES2/PER3_475x475E.dat
PERFILES_WEB/PERFILES2/PER3_475x45EC.dat
PERFILES_WEB/PERFILES2/PER3_475x45E.dat
PERFILES_WEB/PERFILES2/PER3_475x4.dat
PERFILES_WEB/PERFILES2/PER3_46x3.dat
PERFILES_WEB/PERFILES2/PER3_45x41E.dat
PERFILES_WEB/PERFILES2/PER3_45x4.dat
PERFILES_WEB/PERFILES2/PER3_45x35.dat
PERFILES_WEB/PERFILES2/PER3_44x4.dat
PERFILES_WEB/PERFILES2/PER3_42x4.dat
PERFILES_WEB/PERFILES2/PER3_42x2.dat
PERFILES_WEB/PERFILES2/PER3_41x41E.dat
PERFILES_WEB/PERFILES2/PER3_27x13E.dat
PERFILES_WEB/PERFILES2/PER3_26x15E.dat
PERFILES_WEB/PERFILES2/PER3_26x13E.dat
PERFILES_WEB/PERFILES2/PER3_25x125E.dat
PERFILES_WEB/PERFILES2/PER3_24x12E.dat
PERFILES_WEB/PERFILES2/PER3_22x8.dat
PERFILES_WEB/PERFILES2/PER3_22x12WE.dat
PERFILES_WEB/PERFILES2/PER3_22x12E.dat
PERFILES_WEB/PERFILES2/PER3_22x11E.dat
PERFILES_WEB/PERFILES2/PER3_22x10E.dat
PERFILES_WEB/PERFILES2/PER3_22x10.dat
PERFILES_WEB/PERFILES2/PER3_21x13WE.dat
PERFILES_WEB/PERFILES2/PER3_21x13E.dat
PERFILES_WEB/PERFILES2/PER3_21x135EPN.dat
PERFILES_WEB/PERFILES2/PER3_21x12WE.dat
PERFILES_WEB/PERFILES2/PER3_21x10WPN.dat
PERFILES_WEB/PERFILES2/PER3_21x10W.dat
PERFILES_WEB/PERFILES2/PER3_21x10PN.dat
PERFILES_WEB/PERFILES2/PER3_21x105PN.dat
PERFILES_WEB/PERFILES2/PER3_215x13EPN.dat
PERFILES_WEB/PERFILES2/PER3_215x10WPN.dat
PERFILES_WEB/PERFILES2/PER3_215x105PN.dat
PERFILES_WEB/PERFILES2/PER3_20x8W.dat
PERFILES_WEB/PERFILES2/PER3_20x8E.dat
PERFILES_WEB/PERFILES2/PER3_20x8.dat
PERFILES_WEB/PERFILES2/PER3_20x225EP(CD).dat
PERFILES_WEB/PERFILES2/PER3_20x18.dat
PERFILES_WEB/PERFILES2/PER3_20x18(F1-GT).dat
PERFILES_WEB/PERFILES2/PER3_20x16.dat
PERFILES_WEB/PERFILES2/PER3_20x15E.dat
PERFILES_WEB/PERFILES2/PER3_20x15C.dat
PERFILES_WEB/PERFILES2/PER3_20x15(WCAR-T6).dat
PERFILES_WEB/PERFILES2/PER3_20x14.dat
PERFILES_WEB/PERFILES2/PER3_20x13E.dat
PERFILES_WEB/PERFILES2/PER3_20x12WE.dat
PERFILES_WEB/PERFILES2/PER3_20x12.dat
PERFILES_WEB/PERFILES2/PER3_20x11E.dat
PERFILES_WEB/PERFILES2/PER3_20x10W.dat
PERFILES_WEB/PERFILES2/PER3_20x10PN.dat
PERFILES_WEB/PERFILES2/PER3_20x10E.dat
PERFILES_WEB/PERFILES2/PER3_20x105PN.dat
PERFILES_WEB/PERFILES2/PER3_20x10.dat
PERFILES_WEB/PERFILES2/PER3_205x205E(CD).dat
PERFILES_WEB/PERFILES2/PER3_205x14EPN.dat
PERFILES_WEB/PERFILES2/PER3_205x14E.dat
PERFILES_WEB/PERFILES2/PER3_205x135EPN.dat
PERFILES_WEB/PERFILES2/PER3_205x12WE.dat
PERFILES_WEB/PERFILES2/PER3_205x10PN.dat
PERFILES_WEB/PERFILES2/PER3_205x105WPN.dat
PERFILES_WEB/PERFILES2/PER3_205x105PN.dat
PERFILES_WEB/PERFILES2/PER3_19x8W.dat
PERFILES_WEB/PERFILES2/PER3_19x8E.dat
PERFILES_WEB/PERFILES2/PER3_19x16.dat
PERFILES_WEB/PERFILES2/PER3_19x14.dat
PERFILES_WEB/PERFILES2/PER3_19x12WE.dat
PERFILES_WEB/PERFILES2/PER3_19x12E.dat
PERFILES_WEB/PERFILES2/PER3_19x11.dat
PERFILES_WEB/PERFILES2/PER3_19x10E.dat
PERFILES_WEB/PERFILES2/PER3_195x115PN.dat
PERFILES_WEB/PERFILES2/PER3_18x8W.dat
PERFILES_WEB/PERFILES2/PER3_18x8E.dat
PERFILES_WEB/PERFILES2/PER3_18x8.dat
PERFILES_WEB/PERFILES2/PER3_18x6W.dat
PERFILES_WEB/PERFILES2/PER3_18x55MR.dat
PERFILES_WEB/PERFILES2/PER3_18x16.dat
PERFILES_WEB/PERFILES2/PER3_18x14.dat
PERFILES_WEB/PERFILES2/PER3_18x12WE.dat
PERFILES_WEB/PERFILES2/PER3_18x12E.dat
PERFILES_WEB/PERFILES2/PER3_18x12.dat
PERFILES_WEB/PERFILES2/PER3_18x11WPN.dat
PERFILES_WEB/PERFILES2/PER3_18x11.dat
PERFILES_WEB/PERFILES2/PER3_18x10PN.dat
PERFILES_WEB/PERFILES2/PER3_18x10E.dat
PERFILES_WEB/PERFILES2/PER3_18x10.dat
PERFILES_WEB/PERFILES2/PER3_185x95.dat
PERFILES_WEB/PERFILES2/PER3_185x12WPN.dat
PERFILES_WEB/PERFILES2/PER3_185x1025WPN.dat
PERFILES_WEB/PERFILES2/PER3_181x12.dat
PERFILES_WEB/PERFILES2/PER3_181x11.dat
PERFILES_WEB/PERFILES2/PER3_181x10W.dat
PERFILES_WEB/PERFILES2/PER3_181x10.dat
PERFILES_WEB/PERFILES2/PER3_17x8N.dat
PERFILES_WEB/PERFILES2/PER3_17x8E.dat
PERFILES_WEB/PERFILES2/PER3_17x8.dat
PERFILES_WEB/PERFILES2/PER3_17x7E.dat
PERFILES_WEB/PERFILES2/PER3_17x6E.dat
PERFILES_WEB/PERFILES2/PER3_17x6.dat
PERFILES_WEB/PERFILES2/PER3_17x4W.dat
PERFILES_WEB/PERFILES2/PER3_17x18.dat
PERFILES_WEB/PERFILES2/PER3_17x13N.dat
PERFILES_WEB/PERFILES2/PER3_17x13.dat
PERFILES_WEB/PERFILES2/PER3_17x12W.dat
PERFILES_WEB/PERFILES2/PER3_17x12N.dat
PERFILES_WEB/PERFILES2/PER3_17x12E.dat
PERFILES_WEB/PERFILES2/PER3_17x1275.dat
PERFILES_WEB/PERFILES2/PER3_17x125N.dat
PERFILES_WEB/PERFILES2/PER3_17x12.dat
PERFILES_WEB/PERFILES2/PER3_17x10WE.dat
PERFILES_WEB/PERFILES2/PER3_17x10N.dat
PERFILES_WEB/PERFILES2/PER3_17x10E.dat
PERFILES_WEB/PERFILES2/PER3_17x10.dat
PERFILES_WEB/PERFILES2/PER3_175x18.dat
PERFILES_WEB/PERFILES2/PER3_16x8E.dat
PERFILES_WEB/PERFILES2/PER3_16x8.dat
PERFILES_WEB/PERFILES2/PER3_16x7E(3D).dat
PERFILES_WEB/PERFILES2/PER3_16x7.dat
PERFILES_WEB/PERFILES2/PER3_16x6E.dat
PERFILES_WEB/PERFILES2/PER3_16x6.dat
PERFILES_WEB/PERFILES2/PER3_16x55MR.dat
PERFILES_WEB/PERFILES2/PER3_16x4W.dat
PERFILES_WEB/PERFILES2/PER3_16x4E.dat
PERFILES_WEB/PERFILES2/PER3_16x16.dat
PERFILES_WEB/PERFILES2/PER3_16x15.dat
PERFILES_WEB/PERFILES2/PER3_16x14N.dat
PERFILES_WEB/PERFILES2/PER3_16x14.dat
PERFILES_WEB/PERFILES2/PER3_16x13N.dat
PERFILES_WEB/PERFILES2/PER3_16x13.dat
PERFILES_WEB/PERFILES2/PER3_16x12E.dat
PERFILES_WEB/PERFILES2/PER3_16x12.dat
PERFILES_WEB/PERFILES2/PER3_16x11.dat
PERFILES_WEB/PERFILES2/PER3_16x10E.dat
PERFILES_WEB/PERFILES2/PER3_16x10.dat
PERFILES_WEB/PERFILES2/PER3_165x5W.dat
PERFILES_WEB/PERFILES2/PER3_165x14.dat
PERFILES_WEB/PERFILES2/PER3_165x13W.dat
PERFILES_WEB/PERFILES2/PER3_165x13.dat
PERFILES_WEB/PERFILES2/PER3_165x12W.dat
PERFILES_WEB/PERFILES2/PER3_165x12.dat
PERFILES_WEB/PERFILES2/PER3_15x8E.dat
PERFILES_WEB/PERFILES2/PER3_15x8.dat
PERFILES_WEB/PERFILES2/PER3_15x7E.dat
PERFILES_WEB/PERFILES2/PER3_15x7.dat
PERFILES_WEB/PERFILES2/PER3_15x6E.dat
PERFILES_WEB/PERFILES2/PER3_15x6.dat
PERFILES_WEB/PERFILES2/PER3_15x55MR.dat
PERFILES_WEB/PERFILES2/PER3_15x4W.dat
PERFILES_WEB/PERFILES2/PER3_15x4E.dat
PERFILES_WEB/PERFILES2/PER3_15x14N.dat
PERFILES_WEB/PERFILES2/PER3_15x14.dat
PERFILES_WEB/PERFILES2/PER3_15x13W-3.dat
PERFILES_WEB/PERFILES2/PER3_15x13N.dat
PERFILES_WEB/PERFILES2/PER3_15x135-3.dat
PERFILES_WEB/PERFILES2/PER3_15x13.dat
PERFILES_WEB/PERFILES2/PER3_15x12W.dat
PERFILES_WEB/PERFILES2/PER3_15x12F.dat
PERFILES_WEB/PERFILES2/PER3_15x12.dat
PERFILES_WEB/PERFILES2/PER3_15x11.dat
PERFILES_WEB/PERFILES2/PER3_15x11-4.dat
PERFILES_WEB/PERFILES2/PER3_15x10E.dat
PERFILES_WEB/PERFILES2/PER3_15x10.dat
PERFILES_WEB/PERFILES2/PER3_1575x13-3.dat
PERFILES_WEB/PERFILES2/PER3_155x13N.dat
PERFILES_WEB/PERFILES2/PER3_155x12W.dat
PERFILES_WEB/PERFILES2/PER3_155x125W.dat
PERFILES_WEB/PERFILES2/PER3_155x12.dat
PERFILES_WEB/PERFILES2/PER3_155x12-4.dat
PERFILES_WEB/PERFILES2/PER3_155x115W.dat
PERFILES_WEB/PERFILES2/PER3_14x85E.dat
PERFILES_WEB/PERFILES2/PER3_14x8.dat
PERFILES_WEB/PERFILES2/PER3_14x7E.dat
PERFILES_WEB/PERFILES2/PER3_14x7.dat
PERFILES_WEB/PERFILES2/PER3_14x6E.dat
PERFILES_WEB/PERFILES2/PER3_14x6.dat
PERFILES_WEB/PERFILES2/PER3_14x5N.dat
PERFILES_WEB/PERFILES2/PER3_14x55MR.dat
PERFILES_WEB/PERFILES2/PER3_14x4W.dat
PERFILES_WEB/PERFILES2/PER3_14x47SF.dat
PERFILES_WEB/PERFILES2/PER3_14x14N.dat
PERFILES_WEB/PERFILES2/PER3_14x14E.dat
PERFILES_WEB/PERFILES2/PER3_14x14.dat
PERFILES_WEB/PERFILES2/PER3_14x13N.dat
PERFILES_WEB/PERFILES2/PER3_14x135N.dat
PERFILES_WEB/PERFILES2/PER3_14x135.dat
PERFILES_WEB/PERFILES2/PER3_14x13.dat
PERFILES_WEB/PERFILES2/PER3_14x12N.dat
PERFILES_WEB/PERFILES2/PER3_14x12E.dat
PERFILES_WEB/PERFILES2/PER3_14x12.dat
PERFILES_WEB/PERFILES2/PER3_14x11.dat
PERFILES_WEB/PERFILES2/PER3_14x10F.dat
PERFILES_WEB/PERFILES2/PER3_14x10E.dat
PERFILES_WEB/PERFILES2/PER3_14x10.dat
PERFILES_WEB/PERFILES2/PER3_145x14N.dat
PERFILES_WEB/PERFILES2/PER3_145x145N.dat
PERFILES_WEB/PERFILES2/PER3_145x13W.dat
PERFILES_WEB/PERFILES2/PER3_145x12-4.dat
PERFILES_WEB/PERFILES2/PER3_145x11-4.dat
PERFILES_WEB/PERFILES2/PER3_144x14.dat
PERFILES_WEB/PERFILES2/PER3_144x135.dat
PERFILES_WEB/PERFILES2/PER3_144x13.dat
PERFILES_WEB/PERFILES2/PER3_144x12.dat
PERFILES_WEB/PERFILES2/PER3_144x105.dat
PERFILES_WEB/PERFILES2/PER3_13x9.dat
PERFILES_WEB/PERFILES2/PER3_13x8E.dat
PERFILES_WEB/PERFILES2/PER3_13x8.dat
PERFILES_WEB/PERFILES2/PER3_13x7F.dat
PERFILES_WEB/PERFILES2/PER3_13x7.dat
PERFILES_WEB/PERFILES2/PER3_13x65E.dat
PERFILES_WEB/PERFILES2/PER3_13x65E(F2B).dat
PERFILES_WEB/PERFILES2/PER3_13x6.dat
PERFILES_WEB/PERFILES2/PER3_13x55MR.dat
PERFILES_WEB/PERFILES2/PER3_13x55E.dat
PERFILES_WEB/PERFILES2/PER3_13x4W.dat
PERFILES_WEB/PERFILES2/PER3_13x4E.dat
PERFILES_WEB/PERFILES2/PER3_13x47SF.dat
PERFILES_WEB/PERFILES2/PER3_13x45MR.dat
PERFILES_WEB/PERFILES2/PER3_13x45EP.dat
PERFILES_WEB/PERFILES2/PER3_13x45EP(F2B).dat
PERFILES_WEB/PERFILES2/PER3_13x4.dat
PERFILES_WEB/PERFILES2/PER3_13x13N.dat
PERFILES_WEB/PERFILES2/PER3_13x135N.dat
PERFILES_WEB/PERFILES2/PER3_13x13-4.dat
PERFILES_WEB/PERFILES2/PER3_13x11.dat
PERFILES_WEB/PERFILES2/PER3_13x10F.dat
PERFILES_WEB/PERFILES2/PER3_13x10E.dat
PERFILES_WEB/PERFILES2/PER3_13x10.dat
PERFILES_WEB/PERFILES2/PER3_138x10-4.dat
PERFILES_WEB/PERFILES2/PER3_135x9.dat
PERFILES_WEB/PERFILES2/PER3_135x14W.dat
PERFILES_WEB/PERFILES2/PER3_135x14.dat
PERFILES_WEB/PERFILES2/PER3_135x135.dat
PERFILES_WEB/PERFILES2/PER3_135x133.dat
PERFILES_WEB/PERFILES2/PER3_135x125.dat
PERFILES_WEB/PERFILES2/PER3_135x115N.dat
PERFILES_WEB/PERFILES2/PER3_135x10.dat
PERFILES_WEB/PERFILES2/PER3_134x135-3.dat
PERFILES_WEB/PERFILES2/PER3_12x9W.dat
PERFILES_WEB/PERFILES2/PER3_12x9.dat
PERFILES_WEB/PERFILES2/PER3_12x8SF.dat
PERFILES_WEB/PERFILES2/PER3_12x8E.dat
PERFILES_WEB/PERFILES2/PER3_12x85F.dat
PERFILES_WEB/PERFILES2/PER3_12x8.dat
PERFILES_WEB/PERFILES2/PER3_12x7.dat
PERFILES_WEB/PERFILES2/PER3_12x6SF.dat
PERFILES_WEB/PERFILES2/PER3_12x6EP(F2B).dat
PERFILES_WEB/PERFILES2/PER3_12x6E.dat
PERFILES_WEB/PERFILES2/PER3_12x65WEP(F2B).dat
PERFILES_WEB/PERFILES2/PER3_12x6.dat
PERFILES_WEB/PERFILES2/PER3_12x55MR.dat
PERFILES_WEB/PERFILES2/PER3_12x5.dat
PERFILES_WEB/PERFILES2/PER3_12x47SF.dat
PERFILES_WEB/PERFILES2/PER3_12x45MR.dat
PERFILES_WEB/PERFILES2/PER3_12x4.dat
PERFILES_WEB/PERFILES2/PER3_12x38SF.dat
PERFILES_WEB/PERFILES2/PER3_12x14.dat
PERFILES_WEB/PERFILES2/PER3_12x13N.dat
PERFILES_WEB/PERFILES2/PER3_12x13.dat
PERFILES_WEB/PERFILES2/PER3_12x12N.dat
PERFILES_WEB/PERFILES2/PER3_12x12E.dat
PERFILES_WEB/PERFILES2/PER3_12x125.dat
PERFILES_WEB/PERFILES2/PER3_12x12.dat
PERFILES_WEB/PERFILES2/PER3_12x11N.dat
PERFILES_WEB/PERFILES2/PER3_12x115.dat
PERFILES_WEB/PERFILES2/PER3_12x11.dat
PERFILES_WEB/PERFILES2/PER3_12x10W.dat
PERFILES_WEB/PERFILES2/PER3_12x10E.dat
PERFILES_WEB/PERFILES2/PER3_12x10.dat
PERFILES_WEB/PERFILES2/PER3_125x9.dat
PERFILES_WEB/PERFILES2/PER3_125x6.dat
PERFILES_WEB/PERFILES2/PER3_125x13.dat
PERFILES_WEB/PERFILES2/PER3_125x125.dat
PERFILES_WEB/PERFILES2/PER3_125x12.dat
PERFILES_WEB/PERFILES2/PER3_125x115.dat
PERFILES_WEB/PERFILES2/PER3_125x11.dat
PERFILES_WEB/PERFILES2/PER3_125x10.dat
PERFILES_WEB/PERFILES2/PER3_1225x375.dat
PERFILES_WEB/PERFILES2/PER3_11x9.dat
PERFILES_WEB/PERFILES2/PER3_11x9-4.dat
PERFILES_WEB/PERFILES2/PER3_11x8F.dat
PERFILES_WEB/PERFILES2/PER3_11x8E.dat
PERFILES_WEB/PERFILES2/PER3_11x85E.dat
PERFILES_WEB/PERFILES2/PER3_11x8.dat
PERFILES_WEB/PERFILES2/PER3_11x7SF.dat
PERFILES_WEB/PERFILES2/PER3_11x7E.dat
PERFILES_WEB/PERFILES2/PER3_11x7.dat
PERFILES_WEB/PERFILES2/PER3_11x6.dat
PERFILES_WEB/PERFILES2/PER3_11x6-4.dat
PERFILES_WEB/PERFILES2/PER3_11x55MR.dat
PERFILES_WEB/PERFILES2/PER3_11x55E.dat
PERFILES_WEB/PERFILES2/PER3_11x5.dat
PERFILES_WEB/PERFILES2/PER3_11x47SF.dat
PERFILES_WEB/PERFILES2/PER3_11x45MR.dat
PERFILES_WEB/PERFILES2/PER3_11x45EP.dat
PERFILES_WEB/PERFILES2/PER3_11x4.dat
PERFILES_WEB/PERFILES2/PER3_11x38SF.dat
PERFILES_WEB/PERFILES2/PER3_11x3.dat
PERFILES_WEB/PERFILES2/PER3_11x14.dat
PERFILES_WEB/PERFILES2/PER3_11x13.dat
PERFILES_WEB/PERFILES2/PER3_11x12W.dat
PERFILES_WEB/PERFILES2/PER3_11x12E.dat
PERFILES_WEB/PERFILES2/PER3_11x12.dat
PERFILES_WEB/PERFILES2/PER3_11x11.dat
PERFILES_WEB/PERFILES2/PER3_11x10E.dat
PERFILES_WEB/PERFILES2/PER3_11x10.dat
PERFILES_WEB/PERFILES2/PER3_115x6.dat
PERFILES_WEB/PERFILES2/PER3_115x4.dat
PERFILES_WEB/PERFILES2/PER3_115x125N.dat
PERFILES_WEB/PERFILES2/PER3_10x9.dat
PERFILES_WEB/PERFILES2/PER3_10x8E.dat
PERFILES_WEB/PERFILES2/PER3_10x8.dat
PERFILES_WEB/PERFILES2/PER3_10x7SF.dat
PERFILES_WEB/PERFILES2/PER3_10x7E.dat
PERFILES_WEB/PERFILES2/PER3_10x7.dat
PERFILES_WEB/PERFILES2/PER3_10x7-3.dat
PERFILES_WEB/PERFILES2/PER3_10x6F.dat
PERFILES_WEB/PERFILES2/PER3_10x6E.dat
PERFILES_WEB/PERFILES2/PER3_10x6.dat
PERFILES_WEB/PERFILES2/PER3_10x6-4.dat
PERFILES_WEB/PERFILES2/PER3_10x5E.dat
PERFILES_WEB/PERFILES2/PER3_10x58EP(F2B).dat
PERFILES_WEB/PERFILES2/PER3_10x55MR.dat
PERFILES_WEB/PERFILES2/PER3_10x5.dat
PERFILES_WEB/PERFILES2/PER3_10x47SF.dat
PERFILES_WEB/PERFILES2/PER3_10x45MR.dat
PERFILES_WEB/PERFILES2/PER3_10x4.dat
PERFILES_WEB/PERFILES2/PER3_10x38SF.dat
PERFILES_WEB/PERFILES2/PER3_10x3.dat
PERFILES_WEB/PERFILES2/PER3_10x10E.dat
PERFILES_WEB/PERFILES2/PER3_10x10.dat
PERFILES_WEB/PERFILES2/PER3_105x6.dat
PERFILES_WEB/PERFILES2/PER3_105x45.dat
PERFILES_WEB/PER2_TITLEDAT.DAT
PERFILES_WEB/PER2_STATIC-2.DAT
PERFILES_WEB/PER2_RPMRANGE.DAT
PERFILES_WEB/PER2_N100.DAT
PERFILES_WEB/PER2_MAXPE.DAT
PROP-DATA-FILE_201812.xlsx
temp_GeePs_sizing.m
